*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.db
*.log
*.sqlite3
ui/webclient/.README.rdoc

# YARD artifacts
.yardoc
_yardoc
