config/CGIHandlers.json
*.xcf
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
test*.rb
tmp
*.db
*.log
*.sqlite3
ui/webclient/.README.rdoc
.sass-cache/

# YARD artifacts
.yardoc
_yardoc
