<%= render 'layouts/maintitle' %>
<p>
  <form>
    <fieldset>
      <legend id="formlegend">Authentication</legend>
      <label for="name">Name : </label>
      <input name="name" id="name" type="text" autofocus required />
      <br />
      <label for="pass">Password: </label>
      <input name="pass" id="pass" type="password" required />
      <br />
      <input id="send" class="btn btn-primary" type="button" value="Send" />
      <input id="reset" class="btn" type="button" value="Reset" />
    </fieldset>
  </form>
</p>
